.about-us__adaptation {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  margin: 0;
  padding: 0;
  width: 483px;
  height: 313px;
  background: url(../../../images/adaptation.png) no-repeat bottom / 483px 252px,
              url(../../../images/backAdaptation.svg) no-repeat;
}

@media screen and (max-width: 1670px) {
  .about-us__adaptation {
    width: 400px;
    height: 300px;
    background: url(../../../images/adaptation.png) no-repeat bottom / 400px 200px,
                url(../../../images/backAdaptation.svg) no-repeat top / 400px 300px;
  }
}

@media screen and (max-width: 1530px) {
  .about-us__adaptation {
    width: 340px;
    height: 250px;
    background: url(../../../images/adaptation.png) no-repeat bottom / 340px 170px,
                url(../../../images/backAdaptation.svg) no-repeat top / 340px 250px;
  }
}

@media screen and (max-width: 1270px) {
  .about-us__adaptation {
    width: 300px;
    height: 200px;
    background: url(../../../images/adaptation.png) no-repeat bottom / 300px 150px,
                url(../../../images/backAdaptation.svg) no-repeat top / 300px 200px;
  }
}