.services__cubes {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 0 0 0 34px;
  padding: 0;
  width: 445px;
  height: 233px;
}

@media screen and (max-width: 1530px) {
  .services__cubes {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 1360px) {
  .services__cubes {
    margin-left: 24px;
  }
}

@media screen and (max-width: 1270px) {
  .services__cubes {
    width: 300px;
    height: 150px;
  }
}