.services__panel-title {
  margin: 0;
  padding: 0;
  width: 237px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #252A36;
}

@media screen and (max-width: 1530px) {
  .services__panel-title {
    font-size: 24px;
    width: 180px;
  }
}