.header_white {
  background: url(../../../images/headerLine.png) no-repeat top 25px center / 98% 909px,
              url(../../../images/headerWhite.png) no-repeat top / cover;
  color: #252A36;
  animation: whiteAni 2s ease;
}

@keyframes whiteAni {
  0% {
    background: none;
  }
  100% {
    background: #fff;
  }
}