.services__panel-box {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 0;
  padding: 0 0 78px 40px;
}

@media screen and (max-width: 1530px) {
  .services__panel-box {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1360px) {
  .services__panel-box {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1270px) {
  .services__panel-box {
    padding-bottom: 30px;
  }
}