.services__left-btn {
  border: 0;
  background: none;
  margin: 0 5px 0 0;
  padding: 0;
  cursor: pointer;
  width: 61px;
  height: 61px;
  background: url(../../../images/leftBtn.svg) no-repeat center / 61px 61px;
}

.services__left-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 1270px) {
  .services__left-btn {
    width: 40px;
    height: 40px;
    background: url(../../../images/leftBtn.svg) no-repeat center / 40px 40px;
  }
}