.about-us__art-object {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  margin: 0;
  padding: 0;
  width: 483px;
  height: 382px;
  background: url(../../../images/backArtObject.svg) no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 1670px) {
  .about-us__art-object {
    width: 400px;
    height: 300px;
    background: url(../../../images/backArtObject.svg) no-repeat top / 400px 300px;
  }
}

@media screen and (max-width: 1530px) {
  .about-us__art-object {
    width: 350px;
    height: 250px;
    background: url(../../../images/backArtObject.svg) no-repeat top / 350px 250px;
  }
}